@charset "utf-8";
body { 
    background-color: darkred;
    padding: 20px;
}
#id1{
    padding: 15px;
    background-color: deepskyblue;
}
#id2{
    background-color: pink;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#id3{
    background-color: blue;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 500px;
}
.id4{
    background-color: blue;
    border-right:solid 4px darkred;
    height: 455px; 
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    color:white;
    
}
.id5{
    border-right: solid 4px black;
    border-bottom: solid 4px black; 
    color: white;
}
.id6{
    box-shadow: black 5px 5px 5px; 
}
