@charset "utf8";
#div1 {
    background-color:red;
    padding-bottom: 5px;
}
#div2 {
    background-color: blue;
}
#div3 {
    background-color: transparent; 
    padding-top: 5px; 
    padding-bottom: 5px;
    background-image: url(../img/lobato.jpg) ;
    background-repeat:no-repeat;
    
}