@charset "utf-8";
body{
    background-color: white;
    background-repeat:no-repeat;
    background-size: 100%;
}
#Nombre{
    text-align: center;
    color:deepskyblue;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../PaginaWebTenis&Padel/Img/589704135_192111267_1024x576.jpg);
    background-size: 100%;ç

}

/* #Interes{
    background-color:blanchedalmond;
    text-align: center;
    size: 2%;
    padding: 0.02px;
}
#Titulo{
    background-color: blanchedalmond;
    text-align: center;
    size: 2%;
    padding: 0.02%;
} */