@charset "utf-8";
body{
    background-image: url(../PaginaWebTenis&Padel/Img/98.webp);
    background-repeat:no-repeat;
    background-size: 100%;
}
#Nombre{
    background-color:blanchedalmond;
    text-align: center;
    background-size:2%;
}
#Titulo{
    background-color: blanchedalmond;
    text-align: center;
}
