@charset "utf-8";
body{
    background-color: white;
    background-repeat:no-repeat;
    background-size: 100%;
}
#Nombre{
    background-image: url(../PaginaWebTenis&Padel/Img/98.webp);
    background-size: 100%;
    text-align: center;
    size: 10%;
    color: white;
}
#Interes{
    background-color:blanchedalmond;
    text-align: center;
    size: 2%;
    padding: 0.02px;
}
#Titulo{
    background-color: blanchedalmond;
    text-align: center;
    size: 2%;
    padding: 0.02%;
}